$primary: #4e5bff;
$light: #f0f0f1;
$dark: #242428;
$text-secondary: #777;

$border-radius: 16px;

$chat-width: 380px;
$chat-height: 600px;

$avatar-size: 26px;
$avatar-offset: $avatar-size + 8px;

$max-chat-message-width: 80%;
$clr-border-primary: #00000020;

$clr-icon: #98a7b3;